<div class="header-container">
  <header>
    <section>
      <img src="/css/img/logo.jpg" alt="Study-Planner Logo" width="100" height="100" />
      <h1>Study-Planner</h1>
    </section>
  </header>

  <nav>
    <a href="/index">Liste der Studienpläne</a>
    <a href="/neu">Semesterplan erstellen</a>
  </nav>
</div>
