<!DOCTYPE html>
<html lang="de">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="content-wrapper">
      <main>
        <h2>Seite nicht gefunden</h2>
        <p>Die URL "<%= url %>" konnte nicht gefunden werden.</p>
      </main>
      <% include partials/aside %>
    </div>

    <% include partials/footer %>
  </body>
</html>
